
.individual_question {
  border: 2px solid;
  /* padding-left: 20px;
  padding-right: 20px; */
  width: 80vw;
  margin: auto;
}

.questions_title {
  text-align:left;
}

.specific_question {
  display: flex;
  justify-content:  space-between;
  padding-right: 20px;
}

.answer_body {
  border: 2px solid green;
  background-color: rgb(177, 240, 151);
}